/* Reset e estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Importação de fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Muli:400,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lilita+One&family=Lora&family=Mulish&family=Nunito&family=Quicksand&family=Roboto&family=Staatliches&family=Vollkorn&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

.literata {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* Estilização global */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #fff;
  margin: 0;
  background-color: rgb(224, 224, 224);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2,
h3 {
  padding-bottom: 15px;
}

h2 {
  font-size: 2.55rem;
  line-height: 3rem;
  padding-bottom: 30px;
}

.container p {
  padding-bottom: 25px;
}

.section {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 60px 0;
}

.container img {
  width: 100%;
  display: flex;
}

/* Hero */

#hero {
  justify-content: center;
  justify-self: center;
  background-image: url(//static-cdn.myedools.com/org-748561/school-742122/f3014f86-7094-4252-b4cb-2ef8d0336ac9/assets/939a39c2-25b2-4654-a622-9f218a6bdbcc.jpg), linear-gradient(#E0D1D100, #E0D1D100);
  background-position-y: 95%;
  order: 0;
  
}

#hero p {
  padding: 0;
}

#hero .container {
  padding: 30px 0;
  line-height: normal;
  padding: 0;
  align-items: center;
}

#hero .title_block {
  justify-content: left;
}

#hero .title_block h1 {
  font-size: 3rem;
}

#hero .title_block .subtitle {
  font-size: 1.3rem;
}

#hero .content {
  white-space: initial !important;
}

#hero .description-content {
  padding: 30px 0;
  display: block;

}

#hero .hero-capa-img {
  width: 80%;
  box-shadow: rgb(94, 93, 93) 5px 10px 17px;
}

#hero-cta .button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 15px 30px;
  background: #C3641E;
  color: white;
  font-size: 24px;
  transition: all .2s;
}

#hero-cta small {
  display: block;
  padding: 6px 0;
}

#hero-cta small:link {
  color:#4e4e4e00;
}

#hero .button:hover {
  background: rgb(133, 63, 14);
}

/* Sobre o livro */
#sobre-livro {
  background-color: #FFF;
}

#sobre-livro .content {
  max-width: 415px;
  padding-left: 30px;
}

#sobre-livro img {
  display: block;
  width: 100%;
}

/* Beneficios */

#beneficios {
  display: flex;
  justify-self: center;
  background-image: url('/assets/images/layout-v1_04.jpg'), linear-gradient(#E0D1D100, #E0D1D100);
  /* background-position-y: 95%; */
  order: 0;
  background-position: 0px 9px;
  padding-bottom: 15px;
}

#beneficios .container {
  padding-top: 100px;
  padding-bottom: 50px;
}

#beneficios .container img {
  margin-top: 5%;
}

#beneficios .container ul {
  margin-left: 20px;
}

/* Onde Comprar? */

#onde-comprar {
  padding-bottom: 120px;
}

#onde-comprar p {
  display: block;
  width: 100%;
}
.canais-de-venda {
  display: flex;
  flex-wrap: wrap;
}
.canais-de-venda .canal {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 60px;
  margin-bottom: 30px;
  max-width: 140px;
  align-content: center;

}

.canais-de-venda .canal img {
  display: block;
  width: initial;
  
  width: 100%;
}

/* Footer */

footer {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  background-color: #321515;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #FFF;
  padding-top: 15px;
}

footer p {
  font-size: 0.75rem;
  padding-bottom: 20px;
}

/* Responsivos */

/* MOBILE (até 768px) */
@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 940px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .column {
    width: 100%;
    padding: 0 30px;
  }

  .title_block {
    display: flex;
    background-image: linear-gradient(transparent, transparent);
    
    align-self: center;
    justify-self: center;
    order: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  #hero {
    padding-top: 20px;
  }

  #hero .title_block h1 {
    font-size: 3rem;
    line-height: 2.8rem;
    padding-bottom: 10px;
  }

  #hero .title_block .subtitle {
    font-size: 1.1rem;
  }

  #hero-cta a {
    margin-bottom: 30px;
  }

  #sobre-livro .conten,
  #onde-comprar .container {
    padding: 0 30px;
  }

  #onde-comprar .canal {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 30px;
    max-width: 140px;
    align-content: center;
    flex-wrap: wrap;
  }

}

/* 🔹 DESKTOP (acima de 768px) */
@media screen and (min-width: 769px) {
  .container {
    display: flex;
    max-width: 940px;
  }
  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .column:first-child {
    margin-right: 30px;
  }

  .canais-de-venda {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .canais-de-venda .canal {
    max-width: 140px;
    /* margin-right: 60px;  */
  }
}
