<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  
  <!-- Fontes, por exemplo: -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,700,800,900&display=swap">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap" rel="stylesheet">
  
  <!-- CSS principal -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

  {% include iubenda.html %}
</head>
<body>
  <!-- Inclui o Google Tag Manager -->
  {% include gtm.html %}
  
  <!-- Cabeçalho -->
  {% include header.html %}
  
  <!-- Conteúdo principal -->
  <main>
    {{ content }}
  </main>
  
  <!-- Rodapé -->
  {% include footer.html %}
  
  <!-- JavaScript principal -->
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
